@import "tailwindcss";





@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;

    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button{
  /* border: #000000 solid 1px; */
  border-radius: 8px;
  padding: 7px 10px;

}
/* .insert-button{
  font-size: 1.2rem;
  background-color: rgb(1, 185, 50);
  cursor: pointer;
  transition: all 2s ease;
}
.insert-button:hover{
  background-color: rgb(1, 185, 60);
} */